# PyCharm & Jupyter
.idea/
.ipynb_checkpoints/

# Python cache
_pycache__
*.py[cod]

# Results
data

# TODOs
statistics.ipynb
feature_extraction.py

# random
code_cemetery.py
prototyping.ipynb
moreprototyping.ipynb
stats_reudig.ipynb